.button {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 6px 15px;

}

.button:disabled {
	opacity: 0.5;
}

.clear {
	padding: 0;
	background-color: transparent;
	outline-color: transparent;
}

.withAddon {
	padding: 0 16px;
}

.addonLeft, .addonRight{
	display: flex;
}

.fullWidth {
	width: 100%;
}
