.addonLeft svg, .addonRight svg{
	// color: var(--hint-beauty);colorcolorcolorcolorcolorcolor
}

.button {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 6px 15px;

	// color: var(--text-beauty);colorcolorcolorcolorcolorcolor
	
	&.normal:hover {
		// color: var(--accent-beauty);colorcolorcolorcolorcolor

		.addonLeft svg, .addonRight svg{
			// color: var(--accent-beauty);colorcolorcolorcolorcolorcolor
		}
	}
}

.button:disabled {
	opacity: 0.5;
}

.clear {
	padding: 0;
	border: none;
	background-color: transparent;
	outline-color: transparent;
}

.withAddon {
	padding: 0 16px;
}

.addonLeft, .addonRight{
	display: flex;
}

.fullWidth {
	width: 100%;
}
