.todo {
	padding: 15px;
	border-bottom: 1px solid var(--main-color);
}

.todoState {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 0.5px solid black;
}

.todoText {
	font-size: 24px;
	margin-left: 22px;
}

.isCompleted {
	.todoText {
		text-decoration: line-through;
		opacity: 0.5;
	}
}