.addTodo {
	border-bottom: 2px solid var(--main-color);
	padding: 15px;
	position: relative;
}

.addTodoInput {
	margin-left: 15px;
}

.error {
	color: red;
	position: absolute;
	font-size: 14px;
	bottom: 6px;
}